
.letRowCenter{
	display: flex;
	justify-content: center;
} 

.letColumnCenter{
	display: flex;
	align-items: center;
	
}

.letallCenter{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.flex-row{
	display: flex;
}

.flex-row-reverse{
	display: flex;
	flex-direction: row-reverse;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-column-reverse{
	display: flex;
	flex-direction: column-reverse;
}

// @font-face {
//   font-family: myFirstFont;
//   /* src: url('@/src/pages/level1/team/CSS/Helvetica.ttc'); */
// }